<div class "container">
  <center><h1>Help!</h1>
      <p>So you need help...</p>
    <img src = "http://www.mojo4music.com/media/2013/07/Beatles-Help-770.jpg"></center>
<h3>How To Play</h3>
<ul>
<li>Find QR codes around Maker Faire! Once you find a code scan it and check your progress. The app will keep track of which QR codes you have scanned, once you have completed a level return to the MakerQuest table at the Techbridge Booth </li>
<li>Show us how many QR codes you have solved, then claim your prize!</li>
<li>Lost in the Maker Faire maze? Try <a href = "http://makerfaire.com/wp-content/uploads/2016/05/BA16_Map_Thumbnail.png">this</a></li>
</ul>
<h3>Who Are We?</h3>
<p> We are a group of girls in Techbridge, an after school STEM program.
We got a lot of help from our awesome mentor Dhruv to make this app.
To learn more about what Techbridge does, go <a href="http://stemforall2016.videohall.com/presentations/678">here</a></p>




</div>
