<div class "container">
  <h1>Help</h1>
  <p>So you need help...</p>

<h3>How to play</h3>
<ul>
<li>Find QR codes around Maker Faire! Once you find a code scan it and check your progress. The app will keep track of which QR codes you have scanned, once you have completed a level return to the MakerQuest table at the Techbridge Booth at the _________</li>
</ul>



</div>
