<div class="container">
  <div class="profile">
    <center><img src="http://makerfaire.com/wp-content/themes/makerfaire/images/mf-feature-mfba16-200px.png"="Avatar" /></center>
      <div class="profile__form">
        <div class="profile__fields">
          <form action="/User/createNew" method="POST">
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            <div class="field">
              <center><input type="text" name="fieldUser" class="input" required pattern=.*\S.* /></center>
              <center><label for="fieldUser" class="label">Quester Username</label></center>
            </div>
            <div class="field">
              <center><input type="text" name="fieldfirstName" class="input" required pattern=.*\S.* /></center>
              <center><label for="fieldfirstName" class="label">First Name</label></center>
            </div>
            <div class="field">
              <center><input type="text" name="fieldlastName" class="input" required pattern=.*\S.* /></center>
              <center><label for="fieldlastName" class="label">Last Name</label></center>
            </div>
            <div class="field">
              <center><input type="password" name="fieldPassword" class="input" required pattern=.*\S.* /></center>
              <center><label for="fieldPassword" class="label">Password</label></center>
            </div>
            <div class="profile__footer">
              <center><button class="btn">Register</button></center>
            </div>
          </form>
      </div>
     </div>
  </div>
</div>
