
    <!--Google Font - Work Sans-->
<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,700' rel='stylesheet' type='text/css'>

<div class="container">
  <div class="profile">
     <img src="http://makerfaire.com/wp-content/themes/makerfaire/images/mf-feature-mfba16-200px.png"="Avatar" />
    
     <div class="profile__form">
         <form action="/Signin/Signin" method="POST">
      <div class="profile__fields">
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <div class="field">
          <input type="text" name="fieldUser" class="input" required pattern=.*\S.* />
          <label for="fieldUser" class="label">Quester Username</label>
        </div>
        <div class="field">
          <input type="password" name="fieldPassword" class="input" required pattern=.*\S.* />
          <label for="fieldPassword" class="label">Password</label>
        </div>
        <div class="profile__footer">
          <button class="btn">Sign In</button>
        </div>
      </div> 
         </form>
        <P><a href="/signin/signUp">New? Register Here!</a>
     </div>
  </div>
</div>

        <script src="js/index.js"></script>
