<div>
<P> <img src="https://i.embed.ly/1/display/resize?key=1e6a1a1efdb011df84894040444cdc60&url=http%3A%2F%2Fbangphotos.smugmug.com%2F01News-2%2FBay-Area%2FMaker-Faire-in-San-Mateo%2Fi-2T5t8DH%2F0%2FM%2Fssjm0518makerfaire04-M.jpg">
    <div>
    Welcome <%= firstName %> - You have located <%= progress %> hotspots out of 10 Hotspots </P></div>

</div>